@import "../../Styles/_fonts";
@import "../../Styles/breakpoints";
@import "../../Styles/colors";



.OrderHistory{



    p{
        margin: 0;
    }

    .Button{
        background-color: $Primary;
        color: $White;
        font-weight: 600;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.25rem;
        border-radius: 0.5rem;
        box-shadow: rgb(0 0 0 / 20%) 0px 2px 2px 0px;
        cursor: pointer;
        transition-property: box-shadow;
        transition-duration: 0.25s;

        &:hover, &:active{
            box-shadow: rgb(23 32 38 / 40%) 2px 3px 3px 0px;
        }
    }

    &__Row{
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        border-bottom: 1px solid $Grey;


        > div > p{
            margin-top: 0.5rem;
        }
    }
}
